target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
.mvn/
mvnw
mvnw.cmd
target/

### REPRODUCTIONLISTDAO
src/main/java/dev/iesfranciscodelosrios/acdmusic/App.java
./SQL/Inyector.sql
./Desing/Views

src/main/java/dev/iesfranciscodelosrios/acdmusic/Pages/Test
src/main/java/dev/iesfranciscodelosrios/acdmusic/TestViews.java
